
nav{
  height: 70px;
}

.menu-box {
  display: none;
}

.menu-box.active {
  display: block;
}

.radio-tabs input {
  display: none;
}



.radio-tabs label.active {
  background: #c07575;
  color: #fff;
}

.navbar-brand {
  font-weight: bold;
}

.carousel-item {
  transition: transform 0.6s ease;
}

.menu-box {
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 0px 0px 8px 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  color: black;
}



.btn-warning:hover {
  background-color: #e0a800;
}



.radio-tabs-section {
  background-color: #1a1a1a;
  color: white;
  padding: 40px 20px;
  position: relative;
  margin-top: -120px;
  z-index: 10;
}

.radio-tabs input {
  display: none;
}

.radio-tabs label {
  width: 100%;
  cursor: pointer;
  background-color: #333;
  color: white;
  font-weight: 500;
  transition: 0.3s;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center; 
}

.radio-tabs label.active {
  background-color: #d21f1f;
}

.menu-box {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

.menu-box.active {
  display: flex;
}

.castom {
  position: relative; /* აუცილებელია position-ი children ელემენტებისთვის */
}

#bannerCarousel {
  width: 100%;
  height: 600px;
}

.banner-slide {
  width: 100%;
  height: 600px;
  overflow: hidden;
}

.banner-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media (max-width: 768px) {
  .banner-slide {
    height: 220px;
  }
}

.radio-tabs-section {
  position: absolute;  
  bottom: 0;           
  left: 50%;
  transform: translateX(-50%);
  width: 90%;          
  background-color: rgba(0, 0, 0, 0.756); 
  padding: 40px 20px;
  z-index: 10;       
  box-shadow: 0 -5px 20px rgba(0,0,0,0.3);
}


@media (max-width: 768px) {
  #bannerCarousel {
    height: 320px;
  }
  .radio-tabs-section {
    padding: 20px 10px;
  }
}
